version: '3'
services:
    #Nginx Service
    laradok_nginx:
      image: nginx:latest
      container_name: laradok_nginx
      tty: true
      ports:
          - 8081:80
      volumes:
          - ./.docker/nginx/nginx.conf:/etc/nginx/nginx.conf
          - ./.docker/nginx/app/app.conf:/etc/nginx/conf.d/default.conf 
      depends_on:
          - laradok_app
      links:
          - laradok_app
      environment:
        - X_SERVER_TYPE=nginx
      networks:
        - laradok-network

    #PHP Service
    laradok_app:
      build:
        context: .
        dockerfile: ./.docker/app/Dockerfile
      container_name: laradok_app
      volumes:
        - ./app:/var/www/app
      restart: always
      environment:
        - X_SERVER_TYPE=app
      networks:
        - laradok-network

    #Worker Service
    laradok_worker:
      build:
        context: .
        dockerfile: ./.docker/worker/Dockerfile
      container_name: laradok_worker
      volumes:
        - ./app:/var/www/app
        - ./storage/logs/worker:/var/log
      environment:
        - X_SERVER_TYPE=worker
        - COMPOSER_PROCESS_TIMEOUT=600

      networks:
        - laradok-network

    #MySQL Service
    laradok_db:
      image: mysql:latest
      container_name: laradok_db
      restart: always
      environment:
        MYSQL_DATABASE: ${DB_NAME}
        MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      volumes:
        - ./.data/mysql:/var/lib/mysql
      ports:
        - "3306:3306"
      networks:
        - laradok-network

    #mailhog service for testing emails
    laradok_mailhog:
      image: mailhog/mailhog
      container_name: laradok_mailhog
      logging:
        driver: 'none'  # disable saving logs
      ports:
        - 1025:1025 # smtp server
        - 8025:8025 # web ui
      networks:
        - laradok-network

    #REDIS
    laradok_redis:
      image: redis:latest
      container_name: redis
      ports:
        - "6379:6379"
      volumes:
        - ./.data/redis:/data # persistent storage
      networks:
        - laradok-network
        
#Volumes
volumes:
  dbdata:
    driver: local
    
networks:
  laradok-network:
    driver: bridge
